.title {
	color: #FFF1FF;
	font-family: 'Fredoka One', sans-serif;
	font-weight: 700;
	font-size: 3.5em;
	margin-top: 0.1em;
	margin-bottom: 0.5em;
	text-shadow: var(--text-outline);
	cursor: pointer;
	transition: transform .2s ease-in-out;
	text-align: left;
}


.title:hover {
	transform: scale(1.02);
}


@media only screen and (max-width: 992px) {
	.title {
		font-size: 2.5em;
		margin-top: 0.25em;
	}

	.socialscontainer {
		margin-bottom: 1em;
	}
}

@media only screen and (max-width: 768px) {
	.title {
		font-size: 3em;
		text-align: center;
	}
}

.hand {
	display: inline-block;
}