/* There's almost definitely a better way of doing this, but this'll do the job for now
This is what handles the size/weight/spacing of the text in the education boxes */
.wrapper > div, .wrapper > img {
    display: inline-block;
    vertical-align: top;
}

.info p {
	margin-top: 0;
	margin-bottom: 0.25em;
	font-size: 0.9em;
    line-height: 1.4em;

}
.wrapper p:first-child {
	font-weight: bold;
	margin-bottom: 0;
	font-size: 1.2em;
    line-height: 1.2em;
}

.wrapper p:nth-child(2) {
	font-weight: bold;
	margin-bottom: 0;
	font-size: 1.1em;
}

.wrapper p:nth-child(3) {
	font-size: 0.8em;
}

.logo {
    width: 4em;
    border-radius: 16px;
    margin-right: 1em;
}

@media only screen and (max-width: 767px) {
    .logo {
        width: 3em;
        margin-right: 0.8em;

    }

    .wrapper p:first-child {
        font-size: 1.1em;
    }
    
    .wrapper p:nth-child(2) {
        font-size: 1.0em;
    }
    
    .wrapper p:nth-child(3) {
        font-size: 0.8em;
    }
    
}

.logoaward {
	width: 100%;
	border-radius: 8px;
}

.info ul {
	padding-left: 1em;
}

.inner {
    background-color: rgba(255,255,255,0.5);
    border-radius: 16px;
    padding: 0.5em;
    margin-top: 1em;
}

.inner img, .inner > div {
    display: inline-block;
    vertical-align: middle;
}

.inner img {
    border-radius: 8px;
    width: 3em;
    margin-right: 1em;
}

.inner > div > p:nth-child(1) {
    font-weight: bolder;
    margin-bottom: 0;
}