.videoContainer {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	margin-bottom: 2em;
	box-shadow: var(--component-shadow);
	border-radius: var(--component-border);
}

.videoContainer iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	border-radius: var(--component-border);
}

.thumbnail {
	box-shadow: var(--component-shadow);
	border-radius: var(--component-border);
    width: 100%;
    margin-bottom: 2em;
    cursor: pointer;
    width: 100%;
	padding-bottom: 56.25%;
    background-position: center;
    background-size: 100%;
    transition: all 0.3s ease-in-out;
}


.thumbnail:hover {
    background-size: 110%;
}

.playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.playButton:hover {
    transform: translate(-50%, -50%) scale(1.1);
}