.footer {
	background-color: #1E152A;
	border-radius: var(--component-border);
	margin-top: 1em;
	padding: 1em;
	box-shadow: var(--component-shadow);
}

.hero {
	background-image: url("https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80");
	background-size: cover;
	background-position: center;
	;
	height: 50vh;
	border-radius: var(--component-border);
	box-shadow: var(--component-shadow);
	margin-bottom: 2em;
	padding: 1em;
}

.profile {
	width: 100%;
	border-radius: var(--component-border);
	box-shadow: var(--component-shadow);
}

.handwritten {
	font-family: 'Balsamiq Sans', cursive;
	font-size: 1.5em;
	margin-top: 0;
	margin-left: 0;
}

.construction {
	background-color: var(--color-dark-gray);
	background-image:
		/* from https://gist.github.com/dfrankland/f6fed3e3ccc42e3de482b324126f9542 */
		linear-gradient(45deg, #8B6D00 25%, transparent 25%),
		linear-gradient(135deg, #8B6D00 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, #8B6D00 75%),
		linear-gradient(135deg, transparent 75%, #8B6D00 75%);
	background-size: 100px 100px;
	/* Must be a square */
	background-position: 0 0, 50px 0, 50px -50px, 0px 50px;
	/* Must be half of one side of the square */
	color: white;
	text-align: center;
	font-family: "Balsamiq Sans", sans-serif;
	text-shadow: var(--text-outline);
	font-size: 1.4em;
	margin-bottom: 1em;
}

.scribbles {
	font-family: 'Balsamiq Sans', cursive;
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-left: 0;
	color: var(--color-light-purple);
	margin-bottom: 1em;
}

.textLeft {
	display: inline-block;
    position: absolute;
    left: 9em;
    top: 4.8em;
    rotate: -20deg;
}

.arrowLeft {
	height: 4em;
    margin-left: 16em;
    margin-top: -1em;
    rotate: 46deg;
}

.textRight {
	display: inline-block;
    position: absolute;
    left: 12em;
    top: 4.7em;
    rotate: 13deg;
}

.arrowRight {
	height: 4em;
    margin-left: 16em;
    margin-top: -1em;
    rotate: -50deg;
    transform: scaleX(-1);
}

@media screen and (max-width: 1199px) {
	.textLeft, .textRight, .arrowLeft, .arrowRight {
		display: none;
	}
}