.content {
	background-color: white;
	border-radius: var(--component-border);
	box-shadow: var(--component-shadow);
	padding: 2em;
	margin-bottom: 2em;
}

.footer {
	background-color: #1E152A;
	border-radius: var(--component-border);
	margin-top: 1em;
	padding: 1em;
	box-shadow: var(--component-shadow);
}


.hero {
	background-image: url("https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80");
	background-size: cover;
	background-position: center;;
	height: 50vh;
	border-radius: var(--component-border);
	box-shadow: var(--component-shadow);
	margin-bottom: 2em;
	padding: 1em;
}

.label {
	border-radius: 4px;
	background-color: var(--color-yellow);
	display: inline-block;
	padding: 0.5em;
	font-weight: bold;
	
}

/* about */

.header {
	background-color: var(--color-green);
	padding: 1em 1.5em;
	border-radius: var(--component-border);
	box-shadow: var(--component-shadow);
	margin-bottom: 1.5em;
}

.content .header {
	border-radius: var(--component-border-top);
	margin-left: -2em;
	margin-right: -2em;
	margin-top: -2em;
	box-shadow: none;
	margin-bottom: 2em;
}

.header h2, .header h3 {
	font-family: 'Fredoka One', cursive;
	margin-bottom: 0;
	color: white;
	text-shadow: var(--text-outline);
}

.header h2 {
	font-size: 2.5em;
}

.header h3 {
	font-size: 2em;
}

.content .header h3 {
	font-size: 1.6em;
}

.profile {
	border-radius: var(--component-border);
	box-shadow: var(--component-shadow);
	width: 100%;
	margin-bottom: 1em;
}

/* projects */
.project {
	background-color: white;
	border-radius: var(--component-border);
	box-shadow: var(--component-shadow);
	margin-bottom: 2em;
	transition: transform .2s ease-in-out;
	height: calc(100% - 2em);
	background-position: center;
	background-size: cover;
	cursor: pointer;
}

.project .wrapper {
	padding: 3em;
	text-align: center;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.project:hover {
	transform: scale(1.05);
}


.project .logo {
	width: 10em;
}

.project .label {
	position: absolute;
	margin-top: 1em;
	margin-left: 1em;
	border-top-left-radius: 16px;
}

.projects > div > div:nth-child(1) > div > .wrapper > .logo {
	width: 20em;
}

.tldr {
	list-style: none;
	padding: 0;
	margin: 0;
}

.tldr li {
	padding-left: 1rem;
    text-indent: -0.7rem;
	margin-bottom: 0.5em;
}

.tldr li::before {
	text-shadow: var(--text-outline-small);
	margin-right: 0.5em;
}

.tldr li:nth-child(1)::before {
	content: "📍 ";
}

.tldr li:nth-child(2)::before {
	content: "👩‍💼 ";
}

.tldr li:nth-child(3)::before {
	content: "🌟 ";
}

.handwritten {
	font-family: 'Balsamiq Sans', cursive;
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-left: 0.5em;
}

.award {
	border-radius: var(--component-border);
	box-shadow: var(--component-shadow);
	background-color: white;
	padding: 1em;
	text-align: center;
	font-family: "Inter", sans-serif;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.award img {
	width: 6em;
	margin-bottom: 1em;
}

.award > div:first-of-type {
	font-weight: bold;
}

.ilsra {
	background-color: #e7eff9;
	background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
}

.award2 {
	background: #141E30;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #ececec;
}

.award2 img {
	width: 10em;
}

.award3 {
	background-color: #47c2ed;
}

.projecthero {
	border-radius: var(--component-border);
	box-shadow: var(--component-shadow);
	margin-bottom: 2em;
}

.projecthero > div > div > div {
	padding: 3em;
	min-height: 24em;
	border-radius: var(--component-border);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.projecthero img {
	width: 32em;
}

.projecthero span {
	color: white;
	font-family: "Balsamiq Sans", cursive;
	font-weight: bold;
	margin-top: 1em;
	font-size: 2em;
	text-shadow: var(--text-outline);
	text-align: center;
}

.stat {
	background-color: var(--color-red);
	border-radius: var(--component-border);
	box-shadow: var(--component-shadow);
	padding: 1em;	
	margin-bottom: 2em;
	height: calc(100% - 2em);
	text-align: center;
}

.stat span {
	display: block;
	color: white;
	font-family: "Balsamiq Sans", cursive;
}

.stat span:nth-child(1) {
	font-size: 3em;
	font-weight: bold;
	text-shadow: var(--text-outline);
	margin-bottom: -0.25em;
}

.stat span:nth-child(2) {
	text-shadow: var(--text-outline);
	font-size: 1.5em;
}

@media (max-width: 576px) {

	.stat {
		height: auto;
		margin-bottom: 1em;
	}

	.stat span {
		display: inline;
	}

	.stat span:nth-child(1) {
		font-size: 1.5em;
		margin-right: 0.3em;
	}

}

.contactform label {
	background-color: var(--color-blue-light);
	padding: 0.5em;
	color: #1a1a1a;
	border-radius: 8px 8px 0 0;
	font-weight: bold;
	margin-bottom: 0;
	font-family: "Inter", sans-serif;
}

.contactform input, .contactform textarea {
	border-radius: 0 16px 16px 16px;
	border-color: #9a9a9a;
	font-family: "Inter", sans-serif;
}

.submitbutton {
	padding: 1em 1.5em;
	background-color: var(--color-blue);
	border-radius: var(--component-border) !important;
	font-weight: bold;
	display: inline-block;
	text-shadow: var(--text-outline);
	color: white;
	border: 0;
	transition: transform .2s ease-in-out;
}

.submitbutton:hover {
	transform: scale(1.05);
}